body {
  background-color: #93B874;
}

a.class1:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.class1:hover, a:active {
  background-color: red;
}

#spel {
    background-color: yellowgreen;
    text-align: center;
}
