* {
    box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 150%;
    overflow: scroll;
    overflow-x: hidden;
}

section {
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
	background: #F1F1F1;
    
}
@font-face {
	font-family: Roboto;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.woff2")
			format("woff2"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.woff")
			format("woff"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.ttf")
			format("ttf");
	font-weight: 400;
	font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
title,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Roboto";
}

/* The LOADER */

.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 300px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

/* The Collapsing Parallax */
.collapsing-parallax {
	position: fixed;
	height: 350px;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.267)),  url("https://images.unsplash.com/photo-1512930366077-deb21fed7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2114&q=80")
		center center no-repeat;
	background-color: rgb(33,14,61);
	background-size: cover;
	z-index: 99;
}
.toolbar-collapsing-parallax{
	height: 100%;
	width: 100%;
}
/* Collapsing Title */
.title-collapsing-parallax {
	position: absolute;
	display: table;
	height: 8vh;
	width: 50%;
	bottom: 0;
	left: 0;
	margin: 0 2em;
}
.title-collapsing-parallax .avatar {
	position: relative;
	display: table-cell;
	float: left;
	width: 60px;
	height: 60px;
	background: url("https://cdn.pixabay.com/photo/2017/10/25/18/10/peer-review-icon-2888794_960_720.png")
		center center no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin-right: 0.9em;
    border: rgba(168, 168, 168, 0.795) solid 1px;
    margin-top: 10px;       
}
.title-container{
	position: relative;
	display: table-cell;
	float: left;
    margin-top: 10px;
    text-align: center;
}
title {
	display: block;
	height: auto;
	width: auto;
	color: white;
	    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: all .3s cubic-bezier(0.4,0,0.2,1);
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    -webkit-transition-property: color,bottom,transform;
    transition-property: color,bottom,transform;
}
title.main{
	font-size: 1.5em
}
title.secondary{
	font-size: 0.9em
}
.fab {
	position: absolute;
	bottom: -1.5em;
	right: 5vw;
}
/* The Fab */
.fab-button {
	display: table;
	cursor: pointer;
	background: url("http://salomatic.de/wp-content/uploads/2017/08/checkmark-flat.png")
		center center no-repeat;
    background-size: cover;
	border-radius: 50%;
	color: #fff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16),
		0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.fab-button:hover {
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18),
		0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fab-button i {
	width: 10px;
	display: table-cell;
	left: 0;
	right: 0;
	vertical-align: middle;
	margin: 0 auto;
	transform: translateX(30%);
}
.fixed-button {
	position: fixed;
	top: 70%;
	right: 45%;
}
.fab-button.xSmall {
	width: 1.75rem;
	height: 1.75rem;
	font-size: 0.75rem;
}

.fab-button.small {
	width: 2.45rem;
	height: 2.45rem;
	font-size: 1.2rem;
}

.fab-button.medium {
	width: 2.85rem;
	height: 2.85rem;
	font-size: 1.2rem;
}

.fab-button.large {
	width: 3.45rem;
	height: 3.45rem;
	font-size: 1.6rem;
}

.fab-button.xLarge {
	width: 3.75rem;
	height: 3.75rem;
	font-size: 1.8rem;
}
/* Navigation Button w/ Animation */
.menu-trigger{
    z-index: 999;
	cursor: pointer;
	position: absolute;
	top: 25px;
	left: 30px;
	width: 26px;
	height: 20px;
	-webkit-transition: 0.35s ease all;
   -moz-transition: 0.35s ease all;
   -o-transition: 0.35s ease all;
   transition: 0.35s ease all;
}
.menu-trigger > .bar{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 2.3px;
	background-color: white;
	-webkit-transition: 0.36s ease-out all;
   -moz-transition: 0.36s ease-out all;
   -o-transition: 0.36s ease-out all;
   transition: 0.36s ease-out all;
}
	.menu-trigger > .bar:first-child{
		top: 0;
	}
	.menu-trigger > .bar:nth-child(2){
		top: 8px;
	}
	.menu-trigger > .bar:nth-child(3){
		top: 16px;
	}
.menu-trigger.active{
	transform: rotate(180deg);
}
.menu-trigger.active > .bar:first-child{
	   transform-origin: 60% bottom;
		transform: rotate(40deg) scaleX(0.7) translateX(8px);
}
.menu-trigger.active > .bar:nth-child(3){
	   transform-origin: 60% top;
		transform: rotate(-40deg) scaleX(0.7) translateX(8px);
}

/* body content */
header.collapsing-parallax + .site-main{
	padding-top: 428px;
}
.site-main .inner{
	text-align: center;
}
.rowmain{}
.rowmain::after, .rowmain::before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.cardview{
	display: inline-block;
	text-align: left;
	position: relative;
	width:28%;
	margin: 0 15px 20px 15px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.18),
		0px 4px 14px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #00000047;
}

.cardview > .bg {
    height: 20vh;
    text-align: center;
    margin: 1rem;
    border-bottom: 1px solid #00000047;
}
.bg > img {
    max-width: 85%;
    max-height: 85%;
    position: relative;
    top: 50%;   
    transform: translateY(-50%);
}
.cardview .content{
	position: relative;
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
}
.cardview h1{
	font-size: 19px;
	font-weight: 500;
	margin: 0 0 12px 0;
}
.cardview p{
	font-size: 14px;
	margin: 0 15px 15px 0;
}
.cardview a{
	font-size: 14px;
	position: relative;
	text-decoration:none;
	color: #9e9ea2;
	text-transform: uppercase;
	padding: 10px 6px;
	-webkit-transition: 0.3s ease-in-out background;
   -moz-transition: 0.3s ease-in-out background;
   -o-transition: 0.3s ease-in-out background;
   transition: 0.3s ease-in-out background;
}
.cardview a:hover{
	background: rgba(0,0,0,0.04);
	border-radius: 6px;
}
@media screen and (max-width: 830px){
	.cardview{
		width: 44%;
	}
}
@media screen and (max-width: 590px){
	.cardview {
		width: 80%;
	}
}
@media screen and (max-width: 530px){
	.cardview {
		width: 85%;
		margin: 15px auto;
	}
}

@media all and (max-width: 768px) {

    .title-collapsing-parallax {
	position: absolute;
	display: table;
	height: 8vh;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 2% 15%;
}

    .title-collapsing-parallax .avatar {
	position: relative;
	display: table-cell;
	float: left;
	width: 52px;
	height: 52px;
	background: url("https://cdn.pixabay.com/photo/2017/10/25/18/10/peer-review-icon-2888794_960_720.png")
		center center no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin-right: 0.9em;
    border: rgba(168, 168, 168, 0.795) solid 1px;
    
}
    .title-container{
	position: relative;
	display: table-cell;
	float: left;
    text-align: center;
}

    .collapsing-parallax {
	position: fixed;
	height: 350px;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),  url("https://images.unsplash.com/photo-1512930366077-deb21fed7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2114&q=80")
		center center no-repeat;
	background-color: rgb(33,14,61);
	background-size: cover;
	z-index: 99;
    }




    .row {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: -20px;
    transform: translateY(10px);
    }

    .buttontext {
    margin-left: 5px;
    margin-top: 2px;
    }
}



.navinhoud {
    transform: translateX(-100%);
    transition: .5s all ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    padding-top: 60px;
}

.navinhoud.active {
    transform: translateX(0%);
}

.navinhoud a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.navinhoud a:hover {
  color: #f1f1f1;
}

.show-cart li {
  display: flex;
}

.cart {
    
}



.shoppingcart {
    
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  transform: translateX(150px);
}

.shoppingcart-active {
    
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  transform: translateX(-20px);
  animation: shoppingcartanimation 1.0s;
  
}

@keyframes shoppingcartanimation {
  from {transform: translateX(150px);} 
  to {transform: translateX(-20px);}
}

.modal {
    
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: ;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 60px;
}

/* Modal Content/Box */

.modal-content {
    
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%
}

.mainmodal-header {
    background-color: #fefefe;
    height: 100px;
    border-bottom: 3px solid #E8E8E8;
    text-align: center;
}

.mainmodal-body {
    margin-top: 20px;

}

.mainmodal-footer {

}

.mainmodal-title {
    font-size: 2rem;
    padding-top: 2%
}


.close {
    text-align: right;
    float: right;
    top: 0;
    right: 0;
    transform: translateY(-175%);   
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}



.shopping-cart {
    
  width: 50px;
  height: 100px;
  
  position: relative;
  
  background-image: linear-gradient(
    transparent 37%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 40%,
    transparent 0
  );
  background-origin: border-box;
}

.buttontext {
    z-index: ;
    float: left;
    text-align: center;
    transform: translate(-30px, 40px);
    font-family: 'Alfa Slab One';
}

.shopping-cart::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  width: 20px;
  background-image: linear-gradient(
    transparent 23%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 30%,
    transparent 0,
    transparent 60%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 70%,
    transparent 0
  ), linear-gradient(
    90deg,
    transparent 25%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 30%,
    transparent 0,
    transparent 65%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 70%,
    transparent 0
  );
  border: 3px solid rgb(7, 38, 67);
  outline: 3px solid rgb(0, 180, 255);
  box-shadow: -2px 2px 0 4px rgb(7, 38, 67);
  transform: perspective(25px) rotateX(-25deg) translate(-33%, -50%);
  transform-origin: left top;
}

.shopping-cart::after {
  content: 'o  o';
  font-size: 16px;
  color: rgb(7, 38, 67);
  white-space: pre;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 38%);
}

.topinner {
    background: repeating-linear-gradient(
  45deg,
  #e7e7e7,
  #cfcfcf 5px,
  #b6b6b6 5px,
  #cccccc 10px
);
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}